.hotmdd-box{
    margin: 40px 0;
    .hot-container{
        width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        .hot-city{
            width: 100%;
            line-height: 24px;
            display: none;
            .col{
                float: left;
                width: 470px;
                
                dl{
                    padding: 20px 0 20px 100px;
                    border-bottom: 1px dashed #eee;
                    dt{
                        margin-left: -100px;
                        float: left;
                        font-size:16px;
                        a{ text-decoration: underline;}
                        a:hover{color: #ff9d00;}
                    }
                    dd{
                        a{ margin-right: 10px;color: #666;}
                        a:hover{text-decoration: underline;}
                    }
                }
                dl:last-child{
                    padding-bottom: 0px;
                    border-bottom: 0;
                }
            }
        }
       
    }
}

 .showbox{
            display: block!important;
        }

.show{
    a{
        border-bottom: 3px solid #ff9d00;
        color: #ff9d00;
    }
}

.line{
    width: 100%;
    height: 1px;
    background:#e4e4e4;
    overflow: hidden;
}

.theme-box{
    padding: 40px 0;
    background: #fafafa;
    .hot-theme{
        width: 1000px;
        padding: 0 20px;
        margin: 0 auto;
        
        .hot-pic{
            display: none;
            margin-right: -15px;
            .pic{
                width: 238px ;
                height: 220px;
                float: left;
                padding: 10px 15px 10px 0;
                position: relative;
                img{
                    height: 100%;
                }
                span{
                    display: inline-block;
                    font-size: 20px;
                    color: #fff;
                   position: absolute;
                   bottom: 30px;
                   left: 20px;
                }
            }
            .pic:hover img{
                box-shadow: -5px -5px 5px #ccc;
            }
        }
    }
}
