body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{margin:0;padding:0}
body,button,input,select,textarea{font:12px microsoft yahei, tahoma,arial,sans-serif; color: #666;}
ol,li{list-style: none; margin: 0; padding: 0}
input{outline: none; border: none; background: #fff}
img{border: none;vertical-align: middle;display: block;}
a{text-decoration: none; color: #333; cursor: pointer}
h1,h2,h3,h4,h5,h6,b,strong{font-weight: normal;}
i,em{font-style: normal;}
button{
    border:none; outline:none;
}
body{ background: #ffffff; width: 100%;}
