.gl-item{
    padding: 20px 0;
    line-height: 24px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    .gl-title{
        font-size: 12px;
    } 
    h2{
        font-size: 18px;
        color: #333;
        margin: 10px 0;
    }
    .gl-content{
       dt{
           float: left;
           width: 220px;
           height: 150px;
       } 
       dd{
           float: left;
           width: 600px;
           height: 112px;
           margin-left: 50px;
           margin-top: 20px;
           .gl-desc{
               margin-bottom: 20px;
           }
           .gl-count{
               text-align: right;
           }
       }
    }
}
